<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/static/css/detail.css">
    <title>details</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
          <div class="logo"><a href="{% url 'food' %}"><img src="/static/images/logoo.png" alt="logo"></a></div>
          <li><a href="{% url 'order' %}">Menu<span class="badge badge-info"></span>
            </a></li>
          <li><a href="{% url 'recepie' %}">Recipes</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li><a href="{% url 'about1' %}">About Us</a></li>
          
        </ul>
        <div class="profile-dropdown">
          <button onclick="myFunction2()" class="profile-dropbtn"style="background-image:
          url(/static/images/myacc.jpg )"></button>
          <div id="profile-myDropdown" class="profile-dropdown-content">
            <a href="{% url 'profile' %}">Profile Details</a>
            <a href="{% url 'myorder' %}">My orders</a>
            <a href="{% url 'changepassword' %}">Change Password</a>
            <a href="{% url 'feed' %}">Feed Back</a>
            <a href="{% url 'signin' %}">Logout</a>
          </div>
        </div>
        <script>
          /* When the user clicks on the button, 
          toggle between hiding and showing the dropdown content */
          function myFunction2() {
            document.getElementById("profile-myDropdown").classList.toggle("show");
          }
    
          // Close the dropdown if the user clicks outside of it
          window.onclick = function (event) {
            if (!event.target.matches('.profile-dropbtn')) {
              var dropdowns = document.getElementsByClassName("profile-dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
        </script>
      </nav>
    <p class="heading">Enter Details Below To Complete Your Order:</p>
    <div class="left">
    <div class="container">
        
        <form action="/detail/" method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="inputBox">
                        <span>full name :</span>
                        <input type="text" name="name" id="name" readonly value="{{ user.username }}">
                    </div>
                    <div class="inputBox">
                        <span>email :</span>
                        <input type="email" name="email" id="email" readonly value="{{ user.email}}">
                    </div>
                  
                    <div class="inputBox">
                        <span>address :</span>
                        <input type="text" name="address" id="address" placeholder="#door - street - locality" required>
                    </div>
                    <div class="inputBox">
                        <span>phone :</span>
                        <input type="text" name="phone" id="phone" placeholder="1234567890" required>
                    </div>
                    <div class="inputBox">
                      <span>total amount :</span>
                      <input type="text" name="amount" id="amount" readonly value="{{amount}}">
                    </div>
                </div>
            </div>
            <input type="submit" value="ORDER NOW" class="submit-btn">
        </form>
    </div> 
</div>  
<div class="right">
    <div class="inner">
    <center> 
    <p class="head">Payment Method</p>
    <br>
    <input class="cc" type="checkbox" checked disabled="disabled" name="payment"></input>
    <span class="ccc">ONLINE PAYMENT</span>
    </center>
</div>
</div> 
</body>
</html>