.menu{
    background-color: black;
    color: white;
  }
  .secondmain{
    background-color:black;
    text-align: center;
    margin:0;
    padding-bottom:40px;
  }
  .secondmain h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid black;
    font-size: 40px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: aliceblue
  }
  .sub{
    display: inline-block;
    width: calc(100%/4);
    margin: 0-2px;
    padding: 20px;
    box-sizing:border-box;
    cursor: pointer;
    transition: 0.4s;
    margin: auto;
  }
  .sub:hover{
    background: rgb(241, 221, 133);
  }
  .sub h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    text-decoration: solid;
    color:white;
  
  }
  .logo{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo img{
    width: 22%;
    border: 0.5px solid white;
    border-radius: 50px;
}
.navbar{
  z-index: 999;
    display:flex;
    background: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background:rgb(39, 37, 37,0.4);
}
.nav-list{
    width:100%;
    display:flex;
    align-items:right;
}
.nav-list li{
   list-style:none;
   padding: 26px 30px;
}
.nav-list li a{
   text-decoration:none;
   color:white;
   margin-right: 0%;
   margin-left: auto;
}
.btn-sm{
    padding: 5px;
    vertical-align: middle;
    text-align:center;
    font:black;
    background-position:center;
    background-size: cover;
    width: 39px;
    height: 29px;
}
.nav-list li a:hover {
    text-decoration:none;
    color:#989898;
 }

.background{
    background:rgba(0,0,0,0.7) ;
    background-size: cover;
    
}
.myaccount{
    width:20%;
    display:flex;
    justify-content:right;
    margin-right: 25px;
    margin-left: auto;
    align-items:right;
    text-align: right;
}
.myaccount img{
    width: 28%;
    border: 2px solid rgb(16, 15, 9);
    margin-right: 0%;
    border-radius: 50px;
    text-align: right;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    overflow: visible;
  }
  
  .dropdown {
    
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .profile-dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: black;
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin-right: 35px;
  
  }
  
  
  
  .profile-dropdown {
    
    position: relative;
    display: inline-block;
    
  }
  
  .profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  .profile-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .profile-dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  
  .dropdown a:hover {background-color:white;}
  
  .show {display: block;}
  



.btn{
    padding:8px 20px;
    margin: 7px 0;
    border: 2px transparent;
    border-radius: 18px;
    font-size: 15px;
    background:none;
    color: aliceblue;
    cursor: pointer;
}  